*{
    padding: 0px;
    margin:0px;
    color: white;
}
#navbar{
    height:50px;
    background-color: #0f1111;
    padding-top: 20px;
}
#logo{
    color: #f08804;
    font-size: 25px;
    padding-left: 5px;

}
a{
    margin-right: 100px;
}
button{
    background-color: #f08804;
}